.panel.panel-default
    .panel-heading #{heading}
    ul.list-group
    .panel-footer
        a.btn.btn-danger(href='#')
            i.fa.fa-trash.fa-lg
            |  Delete
        a.btn.btn-danger(href='#')
            i.fa.fa-plus.fa-lg
            |  Add
